[submodule "lib/FRONTEND/Vue"]
	path = lib/FRONTEND/Vue
	url = https://github.com/leonpolak/universal-vue.git
[submodule "lib/FRONTEND/React"]
	path = lib/FRONTEND/React
	url = https://github.com/leonpolak/universal-react.git
[submodule "lib/FRONTEND/Angular"]
	path = lib/FRONTEND/Angular
	url = https://github.com/leonpolak/universal-angular.git
[submodule "BACKEND/Express"]
	path = lib/BACKEND/Express
	url = https://github.com/leonpolak/universal-express.git
[submodule "BACKEND/Fastify"]
	path = lib/BACKEND/Fastify
	url = https://github.com/leonpolak/universal-fastify.git
[submodule "BACKEND/Metarhia"]
	path = lib/BACKEND/Metarhia
	url = https://github.com/leonpolak/universal-metarhia.git
[submodule "lib/FULLSTACK/Next"]
	path = lib/FULLSTACK/Next
	url = https://github.com/leonpolak/universal-next.git
[submodule "lib/FULLSTACK/Nuxt"]
	path = lib/FULLSTACK/Nuxt
	url = https://github.com/leonpolak/universal-nuxt.git
[submodule "lib/FRONTEND/Vanilla"]
	path = lib/FRONTEND/Vanilla
	url = https://github.com/leonpolak/universal-vanilla-front.git
[submodule "lib/LLMs"]
	path = lib/LLMs
	url = https://github.com/leonpolak/universal-llm.git
